@tailwind base;
@tailwind components;
@tailwind utilities;
@import "styles/variables";
@import "styles/header/header";
@import "styles/header/smoothies";
@import "~bootstrap/scss/bootstrap";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main {
  margin-top: 100px;
}

.gap20 {
  gap: 20px;
}

.gap10 {
  gap: 10px;
}

.gap5 {
  gap: 5px;
}

.hero_banner .product-device, .product-device{
  transform: rotate(18deg);
    top: 47px;
    position: absolute;
    right: 103px;
}

#cart{
  height: 60vh;
  .bg-cart{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}